@media (max-width: 1000px) {
  .am-modal-quiz {
    .am-modal-body {
      .am-step-start {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr auto;

        .am-left-col {
          padding: 30px;
          border-radius: 10px 10px 0 0;
        }
        .am-right-col {
          border-radius: 0 0 10px 10px;
        }
      }

      .am-finish-quiz {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;

        .am-finish-text {
          padding: 30px;
        }
      }

      .am-dialog-question {
        .am-list-question {
          .am-question-slide {
            .am-answer-list {
              .am-answer-item {
                &.am-list {
                  padding: 10px;

                  .am-title-answer {
                    margin-left: 10px;
                  }
                }
              }

              .am-checkbox {
                transform: scale(0.8);
              }
            }
          }
        }
      }
    }
  }
}



@media (max-width: 900px) {
  .am-modal-quiz {
    .am-modal-body {
      .am-dialog-question {
        grid-template-columns: 1fr;
        grid-gap: 0;

        .am-right-col-sidebar {
          display: none !important;
        }
      }
    }
  }
}

@media (max-width: 800px) {
  .am-modal-quiz {
    padding: 20px;
  }
}

@media (max-width: 700px) {
  body {
    background-image: url(/img/back-mob.png);
  }

  .am-modal-quiz {
    padding: 0;

    .am-modal-body {
      max-height: none;
      .am-step-start {
        .am-left-col {
          padding: 0;
          border-radius: 0;

          .am-index-photo {
            border-radius: 0;
          }
        }
        .am-right-col {
          border-radius: 0;
        }
      }

      .am-finish-quiz {
        .am-finish-text {
          padding: 30px;

          .am-heading {
            font-size: 24px;
          }

          .am-desc {
            font-size: 15px;
          }
        }
      }

      .am-dialog-question {
        .am-list-question {
          border-radius: 0;

          .am-question-slide {
            .am-question-title {
              padding: 15px 20px;

              .am-title-question {
                font-size: 18px;
              }
            }

            .am-answer-list {
              grid-gap: 10px;

              &.am-list-grid {
                grid-template-columns: 1fr;
              }
            }
          }

          .am-navbar-bottom {
            padding: 15px 20px;
            .am-buttons-nav {
              .am-btn {
                &.am-btn-primary {
                  .am-small-title {
                    display: block;
                  }

                  .am-large-title {
                    display: none;
                  }

                  i {
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

}

@media (max-width: 600px) {

}

@media (max-width: 500px) {
  .am-modal-quiz {
    .am-modal-body {
      .am-dialog-question {
        .am-list-question {
          .am-question-slide {
            .am-answer-list {
              padding: 15px;

              &.am-card-grid {
                grid-template-columns: 1fr 1fr;
              }
            }
          }
        }
      }
    }
  }
}